.back1{
background-color:#29b6f6;
margin-top: 50px;
}
.back2{
background-color:#C7C7C7;

}
.back3{
background-color:#4B1544;

}
.back4{
background-color:#8B8B8B;

}

.marg0 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.marg {
  margin-top: 50px;
  margin-bottom: 60px;
}
.marg2 {
	margin-top: 70px;
	margin-bottom: 80px;
}
.marg3 {
	margin-top: 120px;
	margin-bottom: 120px;
}
.tilt-right {
  transform: rotate(7deg);	
}

.tilt-left {
  transform: rotate(-12deg);
}